.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/pythonProject.iml
.idea/vcs.xml
.idea/workspace.xml
.venv/
sitewomen/db.sqlite3
sitewomen/sitewomen/__init__.py
sitewomen/users/migrations
sitewomen/users/__init__.py
sitewomen/women/__init__.py
sitewomen/women/migrations
sitewomen/sitewomen/__pycache__
sitewomen/women/__pycache__
sitewomen/users/__pycache__
sitewomen/women/templatetags/__pycache__




